body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(22, 28, 36);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: rơ;
}

.header {
    width: 100%;
    height: 10%;
    position: fixed;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    background-color: rgb(22, 28, 36);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.version {
    width: 75px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 15px;
    background-color: rgba(24, 144, 255, 0.16);
    color: rgb(116, 202, 255);
    margin: 0 10px;
}

.right-header {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.code-button {
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(0, 171, 85);
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgba(0, 171, 85, 0.24);
    margin: 0 20px;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    background-color: rgb(22, 28, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
}

.main-content {
    margin-top: 10vh;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.faq-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px
}

.faq-title h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.faq-title h2 {
    text-align: center;
    font-size: 20px;
    margin: 5px;
    color: rgb(165, 169, 174);
}

.faq-container {
    width: 60%;
}

.faq-item {
    background: rgb(33, 43, 54);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 10px;
}

.faq-question {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question:hover {
    color: rgb(165, 169, 174);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}

.faq-answer p {
    padding: 15px 10px 0px 10px;
}

.faq-answer.open {
    max-height: 1000px;
}